In [7]:
import pandas as pd

In [8]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
data = pd.Series(["4, 8, 15, 16, 23,42"])

In [10]:
print(data)

0    4, 8, 15, 16, 23,42
dtype: object

In [11]:
# Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.

In [12]:
Data1 = pd.Series([11,12,13,14,15,16,17,18,19,20])

In [13]:
print(Data1)

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
9    20
dtype: int64

In [14]:
# Create a Pandas DataFrame that contains the following data:

In [15]:
data2 = {
"name" : ["alice" , "bob" , "claire"],
"age" : [25 , 30 , 27],
"gender" : ["female" , "male" , "female"],
}

In [16]:
df = pd.DataFrame(data2)

In [17]:
print(df)

     name  age  gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

In [18]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [19]:
""" DataFrame:
Multidimensional data structure: Organizes data into a two-dimensional table with labeled rows and columns.
Handles diverse data: Can accommodate columns of different data types (e.g., numbers, strings, dates)."""
# ex

data2 = {
"name" : ["alice" , "bob" , "claire"],
"age" : [25 , 30 , 27],
"gender" : ["female" , "male" , "female"],
}

In [20]:
df = pd.DataFrame(data2)

In [21]:
print(df)

     name  age  gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

In [22]:
'''
Series:
-One-dimensional array: Represents a single column of data with an optional index label for each element.
-Homogeneous data types: All elements within a Series must have the same data type.'''
# ex

df = pd.Series([1,2,3,4,5])

In [23]:
print(df)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [24]:
#dataFrame stores 2 dimensional data and Series stores 1-Dimensional data this is the major difference between both

In [25]:
'''Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?'''

'''       --Answer--
   read_csv() -> to read the csv file 
   read_excel() -> to read the data of excel file
   head() -> read/print data from head/upper side
   tail() -> read/print data from lower/downword side
   sort_values() , columns() , pandas_size() etc this are some functions used in pandas to manipulate the data '''

'Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can\nyou give an example of when you might use one of these functions?'

In [26]:
# Which of the following is mutable in nature Series, DataFrame, Panel?
# Answer -> Both DataFrames and Panels are mutable in nature, while Series are only value-mutable, not size-mutable.

In [27]:
# Q-7 Create a DataFrame using multiple Series. Explain with an example.

In [28]:
names = pd.Series(["Harsh" , "ravi" , "Aryan"])
ages = pd.Series([23, 24 , 25])
gender = pd.Series(["male" , "male" , "male"])

In [29]:
df = pd.DataFrame({'Name': names , 'age': ages , 'gender' : gender })

In [30]:
print(df)

    Name  age gender
0  Harsh   23   male
1   ravi   24   male
2  Aryan   25   male